<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AJRFoundation Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AJRFoundation — All.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AJRFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AJRFoundationTouch.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AJRPlugInManagerTestBundle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA2AC5CD196615000052EB20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA2AC5D7196615000052EB20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA3DF35A0F166BD700C0E2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA53B77417A2D87F0009D370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5B950D20CA3FFA00B01849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6359291582D9D600A06ABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA64F6551562D14E004DFF35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA64F6931562D42F004DFF35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6A5BB00EE8596E0094F769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA904B8520CC95C700DB89F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAAF3F850F8D098B00BA6419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD888C51586ADAD004C0BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
